<a href="https://colab.research.google.com/github/arddrasoni-commits/study-of-lists/blob/main/experiment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment 3
## Study of Lists
### Name: Arddra Soni
### PRN: 25070123022
### BRANCH + Div. : ENTC A1

In [ ]:
## Python Lists
fruitlist = ["apple","banana","cherry","pineapple","strawberry"]
print(fruitlist)

In [ ]:
# list items
# list items are ordered, changeable, and allow duplicate values
# list items are indexed, the first item has index [0], the second item has index [1]
# allow duplicates
list = ["member one", "member two", "member three"]
print (list)

['member one', 'member two', 'member three']

In [ ]:
# list length
list = ["uno", "dos", "tres"]
print (len(list))

3

In [ ]:
# a list with strings, integers and boolean values
listA = ["whistle", 45, False, 18, 'brodie', 7.8, (56 +7j)]
listA

['whistle', 45, False, 18, 'brodie', 7.8, (56+7j)]

In [ ]:
# access items
listQ = ["wishbone", "east", "navigate"]
print(listQ[2])

navigate

In [ ]:
# reverse/negative indexing
listQ = ["wishbone", "east", "navigate"]
print(listQ[-1])

navigate

In [ ]:
# slicing
order =["null", "einz", "zwei", "drei", "vier", "funf"]
print(order[2:5])
# first index inclusive, second excluded

['zwei', 'drei', 'vier']

In [ ]:
print(order[:3])
# index excluded

['null', 'einz', 'zwei']

In [ ]:
print(order[2:])

['zwei', 'drei', 'vier', 'funf']

In [ ]:
print(order[-3:])

['drei', 'vier', 'funf']

In [ ]:
# changing item value
order =["null", "einz", "zwei", "drei", "vier", "funf"]
order[2]= "gear"
print(order)

['null', 'einz', 'gear', 'drei', 'vier', 'funf']

In [ ]:
# append items
order =["null", "einz", "zwei", "drei", "vier", "funf"]
order.append("ha.")
print(order)

['null', 'einz', 'zwei', 'drei', 'vier', 'funf', 'ha.']

In [ ]:
# insert items
order =["null", "einz", "zwei", "drei", "vier", "funf"]
order.insert(3, "star")
print(order)

['null', 'einz', 'zwei', 'star', 'drei', 'vier', 'funf']

In [ ]:
# extend list
order =["null", "einz", "zwei", "drei", "vier", "funf"]
order2 = ["sechs","sieben", "acht", "neun", "zehn"]
order.extend(order2)
order

['null',
 'einz',
 'zwei',
 'drei',
 'vier',
 'funf',
 'sechs',
 'sieben',
 'acht',
 'neun',
 'zehn']

In [ ]:
# Length of List
n = len([3,4,5,6,7,8])
n

6

In [ ]:
#search in list
78 in [68,43,22]

False

In [ ]:
#repitition
l = ["vroom"]
print(l*3)

['vroom', 'vroom', 'vroom']

In [ ]:
# Question 2
marks = [78, 85, 90, 66, 88]
# Maximum Numbers
print(max(marks))
# Minimum Numbers
print(min(marks))
# Total marks
print(sum(marks))
# No. of students
print(len(marks))
# Calculate avg marks
print(sum(marks)/len(marks))
# Sort marks in ascending numbers
marks.sort()
print(marks)
# Sort marks in descending order
marks.sort(reverse=True)
print(marks)

90
66
407
5
81.4
[66, 78, 85, 88, 90]

In [ ]:
# Question 3
# Grocery Shopping list
# add new items, remove purchased items, display final list
# use append, remove, indexing


#list
toget = ["mozzarella", "parmesan", "noodles", "bread", "cottage cheese", "apples"]
print (toget)
# add new items
toget.insert(4, "chocolate")
print ("Items removed : parmesan, apples & bread")

['mozzarella', 'parmesan', 'noodles', 'bread', 'cottage cheese', 'apples']
Items removed : parmesan, apples & bread

In [ ]:
# Question 4
''' 4. Grocery Shopping List
A user maintains a grocery list fpr monthly shopping Task:
Create a grocery list
Add new items to the list
Remove purchased items
Display the final shpping List'''

Grocerylist = ["Eggs", "Milk", " Berries", "Juices"]
# Add new items to the list
Grocerylist.append("Bread")
Grocerylist.append("Butter")
print(Grocerylist)
# Remove purchased items
Grocerylist.remove("Eggs")
Grocerylist.remove("Milk")
print(Grocerylist)
# Display the final shopping list
print("Final Shopping List:")
print(Grocerylist)
list1 = [10,20,30,40,50,60]

In [ ]:
# question 5
''' 5. Temperature Analysis
Daily temperature readings of a city are stored in a list for 10 days.
Tasks:
Display temperature of first and last 5 days
Find highest and lowest temperature
Calculate average temperature'''

TempList = [22, 36, 12, 14, 32, 25, 21, 16, 26, 23]

# Display temperature of first and last 5 days
print("First 5 days temperature:", TempList[:5])
print("Last 5 days temperature:", TempList[-5:])

# Find highest and lowest temperature recorded
print("Highest temperature:", max(TempList))
print("Lowest temperature:", min(TempList))

# Calculate average temperature
print("Average temperature:", sum(TempList)/len(TempList))

In [ ]:
# question 6
'''for a person that tracks daily expenses
store daily expenses for a week
display total and average expenses
identify highest spending day
concepts used: sum, max, length'''
expenses = [2500, 2385, 3424, 6335, 2564, 1231, 7907]
print("total expenses: ", sum(expenses))
print("avg. expenses: ", (sum(expenses))/7)# Display Total and average expenses
# Identify highest spending day
print("Highest spending day:", expenses.index(max(expenses)))

# Identify lowest spending day
print("Lowest spending day:", expenses.index(min(expenses)))

total expenses:  26346
avg. expenses:  3763.714285714286
Total expenses: 26346
Average expenses: 3763.714285714286
Highest spending day: 6
Lowest spending day: 5